.gameCeil_container {
	background-color: blueviolet;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: white;
	width: 20vw;
	height: 13vh;
}

.gameCeil_container:hover {
	background-color: rgb(91, 31, 148);
}
